* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    text-decoration: none;
    font-family: "맑은 고딕";
}

body {
    display: block;
}

a {
    text-decoration: none;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.div_inner {
    position: relative;
    padding: 0 40px;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background: aqua;
}

.logo {
    position: absolute;
    top: 90px;
    left: 60px;
    z-index: 999;
}

.menu {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 999;
}

.menu > li {
    float: left;
    position: relative;
    text-align: center;
    width: 150px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

.menu >li a {
    color: #2f4f4f;
}